.block{
    padding: 20px 20px;
    margin: 10px 30px;

    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}

.title_name{
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: var(--secondary-color);
}

.information{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    color: var(--default-success);
}

.data{

}

.table_text{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;

    line-height: normal;

    font-size: 14px;
}

.time_btn{
    font-size: 14px;
}

.status_block{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3px;
}

.normal{
    color: var(--default-success);
}

.warning{
    color: var(--default-normal);
}

.dangerous{
    color: var(--default-dangerous);
}
