/*@import-normalize;*/
@import url('./assets/css/normalize.css');
@import url('./assets/css/common.css');
@import 'react-h5-audio-player/lib/styles.css';

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/roboto/Roboto.woff2") format('woff2');
  src: url("./assets/fonts/roboto/Roboto.woff") format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("./assets/fonts/roboto/Robotobold.woff2") format('woff2');
  src: url("./assets/fonts/roboto/Robotobold.woff") format('woff');
}

/* 1 - #4C85BB */
/* 2 - #537391 - back - Done */
/* 3 - #3791E6 - more contrast - Done  */

/* 4 - #4B5966 - second dark */

/* 5 - #35383C - most dark  - Done */
/* 6 - #001D38 - accent/primary - Done */

:root {
  --primary-color: #001D38;
  --secondary-color: #3791E6;

  --third-color: #4C85BB;
  --dark-text: #35383C;

  --primary-background-color: #dae4ef;
  --primary-btn-background-color: #35383C;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;

  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

