/*@import-normalize;*/
@import url('./assets/css/normalize.css');
@import url('./assets/css/common.css');
@import 'react-h5-audio-player/lib/styles.css';

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/roboto/Roboto.woff2") format('woff2');
  src: url("./assets/fonts/roboto/Roboto.woff") format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("./assets/fonts/roboto/Robotobold.woff2") format('woff2');
  src: url("./assets/fonts/roboto/Robotobold.woff") format('woff');
}

:root {
  --primary-color: #323232;
  --secondary-color: #6a5d4d;
  --third-color: #DDD0C8;


  --primary-background-color: #DDD0C8;
  --primary-btn-background-color: #6a5d4d;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;

  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

